html {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

span {
    color: #f9faf8;
    font-weight: 900;
    font-size: 20px;
}
ul {
    list-style: none;
    color: #e5e7eb;
    display: flex;
    gap: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #1f2937;
}

.links {
    display: flex;
    justify-content: space-between;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: 20px;
}
.header, 
.links,
.sign-up {
    padding: 8px 80px;
}

.website-descr {
    width: 400px;
    height: 220px;
    flex-shrink: 0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    width: 500px;
    height: 220px;
    background-color: rgb(111, 107, 107);
}

.awesome-website {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

p {
    color: #e5e7eb;
    font-weight: 100;
    font-size: 16px;
}

.awesome-website, 
button,
p {
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    border-color: #3882f6;
    color:#f9faf8;
    border-radius: 8px;
    width: 120px;
    height: 35px;
    font-size: 16px;
}


/** Info Section CSS **/

.info-section {
    height: 400px;
}

.random-header {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 36px;
    color: #1f2937;
}

p.subtext {
    text-align: center;
    color:#1f29378b;
    width: 150px;
}

.subtext-wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.container div {
    height: 150px;
    border-radius: 12px;
    border: 4px solid #3882f6;
    margin-bottom: 12px;
}

/* Testimonial Section CSS */

p.testimonial-text {
    font-size: 36px;
    color: #1f2937bf;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
    padding: 80px 300px;
}

.testimonial-author {
    display: flex;
    justify-content: flex-end;
}

#testimonial-author {
    color: #1f2937;
    font-weight: 900;
    padding-right: 20px;
}

/* Call to Action Section CSS */

.call-to-action-wrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: 800px;
    height: 110px;
    border-radius: 6px;
}

.cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

#sign-up-btn {
    border-color: rgba(255, 255, 255, 0.563);
    margin: 0;
}

.cta-content .cta {
    font-size: 20px;
    color:#e5e7eb;
    font-weight: 900;
}

.cta-content div {
    color:#e5e7ebed;
}