html {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

span {
    color: #f9faf8;
    font-weight: 900;
    font-size: 20px;
}
ul {
    list-style: none;
    color: #e5e7eb;
    display: flex;
    gap: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #1f2937;
}

.links {
    display: flex;
    justify-content: space-between;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: 20px;
}
.header, 
.links,
.sign-up {
    padding: 8px 80px;
}

.website-descr {
    width: 400px;
    height: 220px;
    flex-shrink: 0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    width: 500px;
    height: 220px;
    background-color: rgb(111, 107, 107);
}

.awesome-website {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

p {
    color: #e5e7eb;
    font-weight: 100;
    font-size: 16px;
}

.awesome-website, 
button,
p {
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 8px;
    width: 120px;
    height: 35px;
    font-size: 16px;
}


/** Info Section CSS **/

.info-section {
    height: 450px;
}

.random-header {
    display: flex;
    justify-content: center;
    padding: 40px;
}